//------------------ Clear --------------------------------------------------------
.clear {
  clear: both;
}
//--------------------------------------------------------------------------

.no-border {
  border: none;
  border-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

//--------------------------------------------------------------------------

%cf{

  clear: both;
  *zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after { clear:both; }

}

.cf { @extend %cf; }
//--------------------------------------------------------------------------

//.flex { display: -webkit-flex;  display: flex; }

//--------------------------------------------------------------------------
.txt-white, span.white { color: white; }
//--------------------------------------------------------------------------


//--------------------------------------------------------------------------
.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
  text-align: right;
}

//--------------------------------------------------------------------------

.green{ color: $green; }

.grey { color: $grey-light; }

.blue { color: $blue; }

.red { color: $red; }

//--------------------------------------------------------------------------
/*
.f10{ font-size:  10px; }
.f11{ font-size:  11px; }
.f13{ font-size:  13px; }
.f14{ font-size:  14px; }
.f15{ font-size:  15px; }
.f16{ font-size:  16px; }
.f17{ font-size:  17px; }
.f18{ font-size:  18px; }
.f19{ font-size:  19px; }
.f20{ font-size:  20px; }
*/
.caps { text-transform: uppercase; }

.bold { font-weight:  bold; }

/*
.cols-2{
    -webkit-column-count: 2;
     -moz-column-count:   2;
          column-count:   2;
}
.cols-3{
    -webkit-column-count: 3;
     -moz-column-count:   3;
          column-count:   3;
}
.cols-4{
    -webkit-column-count: 4;
     -moz-column-count:   4;
          column-count:   4;
}
.cols-5{
    -webkit-column-count: 5;
     -moz-column-count:   5;
          column-count:   5;
}
.cols-6{
    -webkit-column-count: 6;
     -moz-column-count:   6;
          column-count:   6;
}
.cols-7{
    -webkit-column-count: 7;
     -moz-column-count:   7;
          column-count:   7;
}
.cols-8{
    -webkit-column-count: 8;
     -moz-column-count:   8;
          column-count:   8;
}
.cols-9{
    -webkit-column-count: 9;
     -moz-column-count:   9;
          column-count:   9;
}
.cols-10{
    -webkit-column-count: 10;
     -moz-column-count:   10;
          column-count:   10;
}
.cols-11{
    -webkit-column-count: 11;
     -moz-column-count:   11;
          column-count:   11;
}
.cols-12{
    -webkit-column-count: 12;
     -moz-column-count:   12;
          column-count:   12;
}
*/
//--------------------------------------------------------------------------
.third {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
//--------------------------------------------------------------------------


//----------------------  HR ----------------------------------------------------
hr.grey {
  border: none;
  border-bottom: solid 1px $grey;
}


hr.short {
  width: 190px;
}

hr.divider {
  margin: $padding-l auto;
  display: block;

  &:last-of-type {
    //display: none;
  }
}
//--------------------------------------------------------------------------




//--------------------------------------------------------------------------
.row {
@extend %cf;
overflow: visible;
display: block;
position: relative;
}

//--------------------------------------------------------------------------




//--------------------------------------------------------------------------
.bg-white{
  background-color: #ffffff;
}
//--------------------------------------------------------------------------



.dotted-border{ border-bottom: dotted 2px $grey-light; }

$dotted-border :  dotted 2px $grey-light;