
@mixin padding($type : 'default')
{

@if ($type == XL)
{
	padding: 60px $paddingXL;
}
@else if ($type == 0XL)
{
	padding: 0px $paddingXL;
}
@else
{
	padding: inherit;
}

}




@mixin grid_element($number, $width) {
  
  $wtotal : $number * $width;
  $margin : (100% - $wtotal ) / ($number - 1);
  
  @include inline-block(top);
  width: $width;
  margin-right: $margin;
  &:last-child {
    margin-right: 0;
  }

}


//--------------------------------------------------------------------------

$img_path : '../../img/icons/';

@mixin bg_svg($name, $path : '0') {

 $svg_url : $img_path + $path + '/' + $name + '.svg';
 $png_url : $img_path + $path + '/' + $name + '.png';

  @if($path == '0')
  {
    $svg_url : $img_path + $name + '.svg';
    $png_url : $img_path + $name + '.png';
  }




  background-image: url($svg_url);
  background-repeat: no-repeat;
  .no-svg & {
    background-image: url($png_url);

  }

  
}
//--------------------------------------------------------------------------

@mixin placeholder(){
    &::-webkit-input-placeholder { /* WebKit browsers */
        @content;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       @content;
       opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       @content;
       opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
       @content;
    }
}



//--------------------------------------------------------------------------

@mixin mq($breakpoint) {
    @media (max-width: $breakpoint) {
      @content;
    }
}

//--------------------------------------------------------------------------




//--------------------------------------------------------------------------
@mixin mq_big($breakpoint) {
    @media (min-width: $breakpoint) {
      @content;
    }
}
//--------------------------------------------------------------------------
@mixin mq_between($min, $max) {
@media (min-width: $min) and (max-width: $max) {
  @content;
}
  
}




//--------------------------------------------------------------------------
@mixin social-btn($colour) {
  background-color: lighten($colour,10%);
  a{
    background-color: $colour;
      &:hover {
        background-color: darken($colour,7%);
      }
      &:active {
        background-color: lighten($colour,17%);
      }
      }
}
//--------------------------------------------------------------------------





//--------------------------------------------------------------------------
@mixin icon-before($icon, $size:40px, $bgcolor : transparent, $corner: 0)
{

  position: relative;
  padding-left: $size + 6px;

  &:before {
      content: "";
      background-color: $bgcolor;
      background-size: 90%;
      background-position: center;
      border-radius: $corner;
      display: block;
      width: $size;
      height: $size;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: ($size / 2) * -1;
      @include bg-svg($icon);
    }

}
//--------------------------------------------------------------------------

@mixin icon-after($icon, $size:40px, $bgcolor : transparent, $corner: 0)
{

  position: relative;
  padding-right: $size + 6px;

  &:after {
      content: "";
      background-color: $bgcolor;
      background-size: 90%;
      background-position: center;
      border-radius: $corner;
      display: block;
      width: $size;
      height: $size;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: ($size / 2) * -1;
      @include bg-svg($icon);
    }

}









//--------------------------------------------------------------------------
@mixin naviTriangles($color, $size, $top, $horiz)
{
  .navi-left{
    a:before{
      content: '';
      @include scut-triangle ( left, $size, $purple );
      position: absolute;
      left: $horiz;
      top: $top;
    }

    p:before {
      content: '';
      @include scut-triangle ( left, $size, $grey );
      position: absolute;
      left: $horiz;
      top: $top;
    }
  }
  .navi-right{
    a:before{
      content: '';
      @include scut-triangle ( right, $size, $purple );
      position: absolute;
      right: $horiz;
      top: $top;
    }
    p:before{
      content: '';
      @include scut-triangle ( right, $size, $grey );
      position: absolute;
      right: $horiz;
      top: $top;
    }
  }

}
//--------------------------------------------------------------------------
@mixin flexBox($f){

  @if ($f == 0) {
    -webkit-flex: none;
    flex: none;
  }
  @else{
    -webkit-flex:  $f; /* Safari 6.1+ */
    -ms-flex:  $f; /* IE 10 */
    flex:   $f;
    width: auto;
    float: none;
  }


}


@mixin flexContainer(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}









//--------------------------------------------------------------------------
@mixin after-triangle($size, $color){
  overflow: visible;
  &:after {
    content : "";
    display: block;

    width: $size;
    height: $size;
    $h : $size * 0.30;
    $hf : $size / 2;
    background-color: $color;
    //transform: rotate(-45deg);
    @include transform(translate(- $hf) rotate(45deg) );
    //@include transform();
    position: absolute;
    bottom: -$h;
    left: 50%;
    z-index: 5;
  }

}

//--------------------------------------------------------------------------









//--------------------------------------------------------------------------

@mixin diagonal-bg($color1:  #f2f2f2, $color2: #fcfcfc){
   background-image: linear-gradient( -7deg, $color1 46%,  $color2 46% );

@media screen and (max-width: 420px) {
 background-image: linear-gradient( -7deg, $color1 64%,  $color2 64% );


}

}

//--------------------------------------------------------------------------






//--------------------------------------------------------------------------

@mixin divide($width) {
  .left {width: $width;}
  .right{width: 99 - $width;}

}


//--------------------------------------------------------------------------

/*

@mixin mq($break) {
@if $break == "mobile-xs" {
  @media (min-width: $brkpoint-zero) and (max-width: $brkpoint-mobile-xs) {
  @content;
  }
}
@else if $break == "mobile-s" {
  @media (max-width: $brkpoint-mobile-s) {
  @content;
  }
}
@else if $break == "mobile" {
  @media (max-width: $brkpoint-mobile) {
  @content;
  }
}
@else if $break == "small" {
  @media (max-width: $brkpoint-s) {
  @content;
  }
}
@else if $break == "ss-mid" {
  @media (max-width: $brkpoint-ss-mid) {
  @content;
  }
}
@else if $break == "small-mid" {
  @media (max-width: $brkpoint-s-mid) {
  @content;
  }
}
@else if $break == "mid" {
  @media (max-width: $brkpoint-mid) {
  @content;
  }
}
@else if $break == "mid-large" {
  @media (max-width: $brkpoint-mid-large) {
  @content;
  }
}
@else if $break == "large" {
  @media (max-width: $brkpoint-large + 1) {
  @content;
  }
}
@else if $break == "xtra-large" {
  @media (max-width: $brkpoint-x-large + 1) {
  @content;
  }
}
@else {
  @media (max-width: $break) {
  @content;
  }
}
}
*/


//--------------------------------------------------------------------------

//--------------------------------------------------------------------------
