$textColor: #444;

$purple-light: #b8abc9;
$purple: #81679e;
$purple-dark: #5c4975;


$blue-light: #d1eaf4;
$blue: #60b9db; 
$blue-dark: #2b92aa;

$lazure: #00c7e8;
$sea: #b6dcdd;

$pink: #ec465f;
$pink-dark: #bf304c;

$green: #7dd3a8;

$orange: #ef8c48;

$grey-light: #f2f2f2;
$grey-mid: #a5a5a5;
$grey: #ddd;
$grey-dark : #666;


// Social

$in-color: #007bb6;
$fb-color: #3a569a;
$tw-color: #00abf0;
$go-color: #df4a32;
$yt-color: #ea3939;
