/* Main */
body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: $textColor;
}

.theContainer {
	@extend %cf;
	margin: 0 auto;
	text-align: left;
	height: 100%;
	min-height: 100%;
	max-width: 1000px;
	position: relative;
}


hr {
margin: 0;
border: 0;
height: 0;
border-top: 1px solid $grey;
@extend %cf;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}


.left {
	float: left;
	width: 50%;

}

.right {
	float: right;
	width: 50%;
}

.theContainer>.left{
	width: 69%;

}
.theContainer>.right{
	width: 30%;
}

aside {
	padding: 20px;
}

/*
.btn {
	display: inline-block;
	width: auto;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	text-align: center;
	padding: 10px 25px;
	color: white;
	background-color: $grey;
	font-weight: bold;

	&:hover {
		background-color: $grey-dark;
	}
}*/


a{	text-decoration: none; }


div {
	width: auto;
	overflow: visible;
}

p{
	color: $textColor;
	line-height: 1.5em;
	font-size: 16px;
	margin: 1em 0;

}


p a {
color: $blue;

}

// HEADINGS
h1 {
	color: $purple-dark;
	font-size: 40px;
}

h2,h3 {
	color: $blue;
	font-size: 26px;
}

h4 {
	font-size: 24px;
	color: darken($grey, 15%);
	margin-bottom: 16px;
}



dl,dd,dt {
		margin: 0;
	}

.hero {

margin-bottom: 30px;

.left{
padding-right: 40px;
width: 50%;
}
.right {
	width: 50%;
}
img {border: solid 10px $grey-light;}

}



.left-content {
	padding-right: 40px;
	border-right: solid 1px $grey;
}


form{

@extend %cf;
width: 100%;
overflow: hidden;

input[type=text], input[type=email], input[type=tel], textarea, select{
	border: solid 2px $grey;
	border-radius: 5px;

	width: 100%;
	padding: 10px 15px;
	&:focus{
		border: solid 2px $purple;
		outline: none;
	}
}


label {
	position: relative;
	color: $blue-dark;
	font-weight: bold;
	&.required:before {
	  content: "*";
	  position: absolute;
	  right: -18px;
	  top: 0px;
	  color: #e54e27;
	}

}

input[type=checkbox],input[type=radio]{
	width: 20px;
	height: 20px;
	background-color: white;
	background: white;
	border-color: $blue-dark;
	vertical-align: middle;
	}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

}

input[type=submit]
{
	background-color: $orange;
	padding: 15px 110px;
	font-size: 30px;
	margin-top: 30px;
}

}



