
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: 1.05em;
}


%cf {
  clear: both;
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

.txt-white, span.white {
  color: white;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}




$img_path : '../../img/icons/';

@mixin bg_svg($name, $path : '') {
  $svg_url : $img_path + $path + '/' + $name + '.svg';
  $png_url : $img_path + $path + '/' + $name + '.png';

  background-image: url($svg_url);
  background-repeat: no-repeat;
  .no-svg & {
    background-image: url($png_url);

  }
}


@mixin mq($breakpoint) {
    @media (max-width: $breakpoint) {
      @content;
    }
}

@mixin mq_big($breakpoint) {
    @media (min-width: $breakpoint) {
      @content;
    }
}

.bg-white{
  background-color: #ffffff;
}



@mixin divide($width) {
  .left {width: $width;}
  .right{width: 99 - $width;}

}

@mixin social-btn($colour) {
  background-color: lighten($colour,10%);
  a{
    background-color: $colour;
      &:hover {
        background-color: darken($colour,7%);
      }
      &:active {
        background-color: lighten($colour,17%);
      }
      }
}


@mixin icon-before($icon, $size:40px, $bgcolor : blue, $corner: 100%)
{

  position: relative;
  padding-left: $size + 6px;

  &:before {
      content: "";
      background-color: $bgcolor;
      background-size: 90%;
      background-position: center;
      border-radius: $corner;
      display: block;
      width: $size;
      height: $size;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: ($size / 2) * -1;
      @include bg-svg($icon);
    }

}



@mixin scut-triangle (
  $direction: right,
  $size: 0.75em,
  $color: inherit
) {

  display: inline-block;
  height: 0;
  width: 0;
  // For improved appearance in some Webkit browsers
  -webkit-transform: rotate(360deg);

  // Set up some variables
  $width: null;
  $height: null;
  $border-widths: null;

  @if type-of($size) == list {
    $width: nth($size, 1);
    $height: nth($size, 2);
  }
  @else {
    $width: $size;
    $height: $size;
  }

  @if ($direction == up) or ($direction == down) {
    // For up and down, width gets two borders but height only one,
    // so divide second border-width value by 2
    $border-widths: $height ($width / 2);
  }
  @else if ($direction == right) or ($direction == left) {
    // For right and left, height gets two borders but width only one,
    // so divide first border-width value by 2
    $border-widths: ($height / 2) $width;
  }
  @else {
    // For right triangles (the rest), both sides get two borders,
    // so divide both by 2
    $border-widths: ($height / 2) ($width / 2);
  }

  border-width: $border-widths;
  border-style: solid;


  // STANDARD TRIANGLES

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    border-color: transparent;
    @if $direction == up {
      border-bottom-color: $color;
      border-top-width: 0;
    }
    @else if $direction == right {
      border-left-color: $color;
      border-right-width: 0;
    }
    @else if $direction == down {
      border-top-color: $color;
      border-bottom-width: 0;
    }
    @else if $direction == left {
      border-right-color: $color;
      border-left-width: 0;
    }
  }


  // CORNER TRIANGLES

  @else if ($direction == top-right) or ($direction == top-left) {
    border-top-color: $color;
    border-bottom-color: transparent;
    @if $direction == top-right {
      border-left-color: transparent;
      border-right-color: $color;
    }
    @else if $direction == top-left {
      border-left-color: $color;
      border-right-color: transparent;
    }
  } 


  @else if ($direction == bottom-right) or ($direction == bottom-left) {
    border-top-color: transparent;
    border-bottom-color: $color;
    @if $direction == bottom-right {
      border-left-color: transparent;
      border-right-color: $color;
    }
    @else if $direction == bottom-left {
      border-left-color: $color;
      border-right-color: transparent;
    }
  }

}
