@import 'compass/css3';
@import 'colors';
@import 'tools';
@import 'chosen';



.metabox {
*,  *:before,  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

legend { background-color: white; padding: 5px;}

input[type=text] { width: 100%; }

img {
	max-width: 100%;
	height: auto;
}


}
.meta-box-sortables .cta_button select{ max-width: 335px; }

.hero input[type=text]{	font-size: 30px; line-height: 35px;	width: 100%; }
.cta_button {
	position: relative;
	display: block;
	//margin-top: 25px;

	width: 100%;
	max-width: 400px;

	label {
		display: block;
	}

	.label input{
		max-width: 100%;
	}

	input[type=url]{
		width: 100%;
	}
}







.home-section {
@extend %cf;
	.left{

		float: left;
		width: 60%;

		input[type=text]{ width: 100%; }
		
		border: none;
		.section-title input{
			font-size: 18px;

		}
	}

	.right{
		float: right;
		width: 39%;
		text-align: center;
		padding: 5px 20px;
	}
}

.cta_pink{
	
	@extend %cf;

		&>input[type=text]{
			color: #333;
		}

	border: none;


	.left { float: left;
		width: 300px;
		input[type=text], textarea { width: 100%;}
		textarea { min-height: 100px;}
	}
	.cta_button {
		float: left;
		margin-top: 0;
		margin-left: 40px;
	}
}


#home_aside_box {
	input[type=text], textarea { width: 100%;}
	textarea { min-height: 200px;}
}


.hero-about {
	input[type=text], textarea { width: 100%;}
	input[type=text]{
		font-size: 30px;
  		line-height: 35px;
	}

}

#page_aside {
	input[type=text] {
		width: 100%;
		font-size: 24px;
	}
}

.about-more{
	clear: both;
		@extend %cf;
@include divide(60%);

}

.map-info{
@extend %cf;
@include divide(75%);

}

#my_submit {
input[type=submit] {
	width: 100%;
	font-weight: bold;

}

}

#hero_cta  {
.left{
		width: 40%;
	}
.right {
	width: 50%;
	text-align: left;
}

}

#home_hero, #info_text {
	.left { width: 66%;	}
	.right {width: 32%;
		textarea {
			width: 100%;
		}
	}
}





.metabox {
	padding: 10px 2%;
	background-color: lighten(#efefef, 4%);
  img{
    max-width: 254px;
    max-height: 666px;
  }

	label { display: block; }

	input[type=url]{ width: 100%; }

	textarea {
			width: 100%;
			display: block;
		}



}
















.heading, .title {
  input[type=text], textarea {
    font-size: 28px;
  }
}



.site-options {
input[type=url], input[type=text] {
	width: 100%;
}

	table {

		width: 95%;
		max-width: 600px;
		text-align: left;
	}




}


.rAds { opacity: 0 !important; }
.redux-dev-mode-notice-container { opacity: 0;  }

#adminmenu #menu-posts-services {
	border-top: solid 1px black;
	padding-top: 10px;

	}

	#adminmenu #menu-posts-careers{
		border-bottom: solid 1px black;
		padding-bottom: 10px;
	}

.solutions {
	.field:not(.title) {
		@include inline-block(top);
		width: 22%; 
	}
}


.button-primary.back-to-top {margin: 10px auto 0 auto;  opacity: 0.2; &:hover { opacity: 0.7; } }


.container.box {
	width: 33%;
	@include inline-block(top);
}

ul.col-3 {
	 columns: 3;
 	 -webkit-columns: 3;
  		-moz-columns: 3;
}