@import 'compass/css3';
@import 'colors';
@import 'tools';
@import 'chosen';

*,  *:before,  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@mixin cta_button($color) {

	}


legend { background-color: white; padding: 5px;}

input[type=text] {
	width: 100%;
}

.meta-box-sortables .cta_button select{
  max-width: 335px;
}


#related_video input {
width: 98%;

}

.video-poster {
	width: 250px;
	position: relative;
}

.video-poster .mce-btn-group,
.video-poster .mce-statusbar  {
	display: none;
}


.chc-gallery .mce-btn-group,
.chc-gallery .mce-statusbar {
	display: none;
}


.hero input[type=text]{
	font-size: 30px;
	line-height: 35px;
	width: 100%;
}


.cta_button {
	position: relative;
	display: block;
	//margin-top: 25px;

	width: 100%;
	max-width: 400px;

	label {
		display: block;
	}

	.label input{
		max-width: 100%;
	}

	input[type=url]{
		width: 100%;
	}
}



.ctas {
	li {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;

	input[type=text] {width: 100%; font-size: 18px;}

	&:nth-of-type(1){
		@include cta_button($purple);


	}
	&:nth-of-type(2){
		@include cta_button($pink);
	}
	&:nth-of-type(3){
		@include cta_button($blue);
	}

	}
}

img {
	max-width: 100%;
	height: auto;
}

.home-section {
@extend %cf;
	.left{

		float: left;
		width: 60%;

		input[type=text]{ width: 100%; }
		@include cta_button($purple);
		border: none;
		.section-title input{
			font-size: 18px;

		}
	}

	.right{
		float: right;
		width: 39%;
		text-align: center;
		padding: 5px 20px;
	}
}

.cta_pink{
	@include cta_button($pink);
	@extend %cf;

		&>input[type=text]{
			color: #333;
		}

	border: none;


	.left { float: left;
		width: 300px;
		input[type=text], textarea { width: 100%;}
		textarea { min-height: 100px;}
	}
	.cta_button {
		float: left;
		margin-top: 0;
		margin-left: 40px;
	}
}


#home_aside_box {
	input[type=text], textarea { width: 100%;}
	textarea { min-height: 200px;}
}


.hero-about {
	input[type=text], textarea { width: 100%;}
	input[type=text]{
		font-size: 30px;
  		line-height: 35px;
	}

}

#page_aside {
	input[type=text] {
		width: 100%;
		font-size: 24px;
	}
}

.about-more{
	clear: both;
		@extend %cf;
@include divide(60%);

}

.map-info{
@extend %cf;
@include divide(75%);

}

#my_submit {
input[type=submit] {
	width: 100%;
	font-weight: bold;

}

}

#hero_cta  {
.left{
		width: 40%;
	}
.right {
	width: 50%;
	text-align: left;
}

}

#home_hero, #info_text {
	.left { width: 66%;	}
	.right {width: 32%;
		textarea {
			width: 100%;
		}
	}
}

#info_text {


}

#hero_boxes, #navy_bar, #home_video{
	background-color: #2f3f5b;
	color: white;

  .metabox {
    background-color: inherit;
  }
	legend {
background-color: #2f3f5b;
	}

	h3{
		color: white;
	}
	.container {
		width: 33%;
		padding: 0 25px;


	}
}

.metabox {

label {
	display: block;
}

input[type=url]{
	width: 100%;
}

textarea {
			width: 100%;
			display: block;
		}

}


#home_testimony{
.left {
	width: 30%;
}
.right {
	width: 65%;
}

}

.navy_duo {
  .left, .right{
    width: 50%;
    padding: 10px 3%;
  }
}


.metabox{

  padding: 10px 2%;

}

#home_section_1, #home_section_2, #home_section_3 {
.left {
	width: 45%;

}

img{
	margin-top: 20px;
	max-width: 360px;
}

.right {
	width: 50%;
}

}


#bottom_section, #bottom_cta {
.left {
	width: 45%;

}

.right {
	width: 50%;
}


}


.divide, .cta_container{
	@extend %cf;
}

.the_intro {
	.left {
		width: 66%;
		padding: 0 20px;
	}
	.right {
		width: 30%;
		padding: 0 20px;
	}
}

.metabox {
	background-color: lighten(#efefef, 4%);
  img{
    max-width: 254px;
    max-height: 666px;
  }
}


.heading, .title {
  input[type=text], textarea {
    font-size: 28px;
  }
}

.theList .container {
  border-bottom: solid 1px #999;
  margin-bottom: 40px;
  padding-bottom: 20px;
}


.site-options {
input[type=url], input[type=text] {
	width: 100%;
}

	table {

		width: 95%;
		max-width: 600px;
		text-align: left;
	}




}
