$break-point: 925px;

$nav-height: 85px;



//@TODO : change mobile navbar according to mockups

$nav-height-mobile:  90px;

$navbar-bg :  $grey-dark;
$page-bg : $white;
$navbar-bg-mobile : $grey-dark;

$link-color: #CECECE;
$link-current: white;
$link-current-border: $red;

// Main menu

#mobile-menu {
	@include mq($break-point) {
		position: fixed;
		right: 0; 	top: 5px;
		width: 100%;
	}
	
}
.snap-drawer { padding-top: 0; padding-bottom: 0;}
.snap-drawers {
	height: $nav-height;
  ul{
  	li  {
		position: relative;
    	list-style-type:  none;
    	height: 100%;
    	z-index: 5;
    	&:first-child a{ margin-left: 0; }
		&:last-child a{ margin-right: 0; }
		
		a{
			height: 100%;
			font-size: 14px;
			letter-spacing: 0.05em;
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 18px;
			padding: 22px 0px 22px 0px;
			color: $link-color;
			border-bottom-color: transparent;
			border-bottom-style: solid;
			border-bottom-width: 3px;
		

			@include mq(large){ 
				padding: 22px 6px 22px 6px;
			}

			
			&:hover {
				   color: $grey;
				 }
			&:active {
					color: darken($grey, 20%);
				}
			&:focus {
				outline: none;
			}

		}

	&.current a {
		border-bottom-color: $link-current-border;
		color: $link-current;
		}

  } // li
} //ul

}


//.snap-content { background-color: $page-bg; }

.snap-drawers { background-color: $navbar-bg;
}

#head {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;

	.container { padding-top: 0; padding-bottom: 0; overflow: visible; height: 100%; }
}


#logo {
	//width: 315px;
	position: absolute;
	top: 10px;
	//max-height: 77px;
	display: block;
	text-align: left;
	//margin-left: -1px;



	img, a {
		display: block;
		width: 213px;
		height: 60px;
		//margin-left: -5px;
		@include mq(small){
			width: 152px;

		}
	}
}

#snap-open {
	float:right;

}


/* Desktop */
@media (min-width: $break-point) {

	.snap-drawer ul {
		height: $nav-height;
		//margin-top: 30px;
	}
	.snap-drawer a {
		height:      ($nav-height/2);
		line-height: ($nav-height/2);
	}

	.snap-drawer nav {

		float: right;
		position: relative;
		overflow: visible;


		li {	display: inline-block;	}

	}


	#snap-open, #snap-close {	display: none;	}

}

/*
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*/


/*
*            - - - MOBILE NAV
*/
@media (max-width: $break-point - 1 ) {



	#head {
	 height: $nav-height-mobile;
	 background-color: $navbar-bg;
	 	.container {
	 		padding-top    : 12px;
	 		padding-bottom : 12px;
			width: 100%;
	 	}
	}
	.snap-content {
		overflow: auto;
	  //position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: auto;
	  height: auto;
	  z-index: 2;

		padding: 90px 0 0; // height of nav header
		@include mq(small){
			padding: 77px 0 0;
		}
	  -webkit-overflow-scrolling: touch;
	  -webkit-transform: translate3d(0, 0, 0);
	     -moz-transform: translate3d(0, 0, 0);
	      -ms-transform: translate3d(0, 0, 0);
	       -o-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	}

	.snap-drawers {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: auto;
	  height: auto;
	  background-color: $navbar-bg-mobile;
	  color: #1c1c1e;
	}


	.snap-drawer.container {

	  position: absolute;
	  background-color: #1c1c1e;
	  padding: 	0;
	  top: 			0;
		right: 		0;
	  bottom: 	0;
	  left: auto;
	  width: 265px;
	  height: auto;
	  overflow: auto;
		z-index: 0; // set to 0 for chrome fix
	  -webkit-overflow-scrolling: touch;
	  -webkit-transition: width 0.3s ease;
	     -moz-transition: width 0.3s ease;
	      -ms-transition: width 0.3s ease;
	       -o-transition: width 0.3s ease;
	          transition: width 0.3s ease;
	}

	.snapjs-left .snap-drawer-right,
	.snapjs-right .snap-drawer-left {
	  display: none;
	}

	.snapjs-expand-right .snap-drawer-right {
	  width: 100%;
	}


	/* Styles for fading out the drawer content in the "Expanding" demo */
	.drawer-inner {
		-webkit-transition: opacity 0.3s ease;
		   -moz-transition: opacity 0.3s ease;
		    -ms-transition: opacity 0.3s ease;
		     -o-transition: opacity 0.3s ease;
		        transition: opacity 0.3s ease;
	}

	.snapjs-expand-left .drawer-inner,
	.snapjs-expand-right .drawer-inner {
		opacity: 0;
	}


	.snap-drawer ul li a {
		padding: 0 $padding-mobile 0 0;

		color: $white;
		display: block;
		//text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		height:       50px;
		line-height:  50px;
		text-align: right;
		margin: 0;
		border-bottom-color: rgba(55,55,55,0.8);
		border-bottom-width: 1px;
		font-size: 14px;

		&:hover {
      border-bottom-color: rgba(55,55,55,0.8);
    }

		&:active {
      border-bottom-color: $grey-light;
    	}

		&:focus {
      border-bottom-color: $grey;
    }
    &:hover {
      color: $grey;
    }
    &:active {
      color: darken($grey, 10%);
    }
	}

.snap-drawers nav li.current a { /*border-bottom-color: $green;*/	color: $grey; }

//.snap-drawers nav li.current, .snap-drawers nav li:hover { background-color: darken($grey, 10%)}


	.snap-drawer nav {
		text-align: left;
	}

	#snap-close {
		padding: 0;
	  cursor: pointer;
	  background: transparent;
	  border: 0;
	  -webkit-appearance: none;
		font-weight: 600;
		line-height: 1;
		color: $white;
		font-size: 38px;
		width: 100%;
		height: $nav-height-mobile;
		text-align: right;
		padding: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		outline:none;

		&:hover { color: $grey; }
		&:active { color:darken($grey, 10%); }
	}


	$open-btn-height: 24px;
	$open-btn-width: 36px;
	$open-btn-line: 4px;

	#snap-open {
		display: block;
		padding: 0;
		  cursor: pointer;
		  background: transparent;
		  border: 0;
		  margin-top: 21px; // mobile button
				@include mq(small){
					margin-top: 12px; // mobile button
				}

		  -webkit-appearance: none;
			font-weight: 700;
			line-height: 1;
			color: #1c1c1e;
			font-size: 36px;
			border-top: $open-btn-line solid $link-color;
			border-bottom: $open-btn-line solid $link-color;
			position: relative;

			height: $open-btn-height;
			width: $open-btn-width;
			overflow: hidden;
			outline:none;

			&:hover { border-top-color: $grey; border-bottom-color: $grey;}
			&:active { border-top-color:darken($grey, 10%); border-bottom-color:darken($grey, 10%);}
	}

	#snap-open:after {
		content: " ";
		height: $open-btn-line;
		width:100%;
		display: block;
		background-color: $link-color;
		left: 0;
		top: ($open-btn-height / 2) - ($open-btn-line / 2) - $open-btn-line;
		position: absolute;

	}

	#snap-open:hover:after {	background-color: $grey;	}
	#snap-open:active:after {	background-color:darken($grey, 10%)	}






.snap-drawer nav li.search-mobile {

display: inline-block;



}
#search{
  //max-height: 1px;
  //max-width: 1px;

}
#search-bar {
	display: inline-block !important;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 2;
   // border-bottom: solid 1px $green;
	padding-bottom: 15px;

.search-form { margin: 0;}

nav { width: auto;}

.container {
	padding: 0 16px;
}
    input[type=search]{
 	background-color: transparent;
 	font-size: 15px;
    text-align: center;
    padding-left: 0;
    text-align: left;
    //color: $green;
	 &:focus {
    	border-bottom: $grey;
		}


    @include placeholder() {
    	color: $white;
    	font-weight: bold;
    	font-size: 18px;
    	text-align: left;
    }
    }

    form {
    	border-bottom: solid 2px darken($grey, 10%);
    	width: 100%;
    	margin: 0 auto;

    }

    #search-btn {
    	width: 30px;
    	padding-bottom: 5px;
    	background-position: left 0;
    }
}


#search-toggle{
display: none;
}

#logo {
	display: block;
	float: left;
	max-width: 260px;
}

//------------------
} // media query
