<h3 class="blue">Send a Message</h3>
<div class="cf">

<div class="left">
<dl>
<dt><label for="first_name">First Name</label></dt>
<dd>[text* first_name id:first_name]</dd>
</dl>
</div>

<div class="right">
<dl>
<dt><label for="last_name">Last Name</label></dt>
<dd>[text* last_name id:last_name]</dd>
</dl>
</div>

</div>

<dl class="cf">
<dt><label for="email">Email</label></dt>
<dd>[email* email id:email]</dd>
</dl>

<dl class="cf">
<dt><label>Choose Department</label></dt>
<dd>[select department include_blank "test1|test1@atlantic.dev" "test2|test2@atlantic.dev" "test3|test3@atlantic.dev" ]</dd>

<dt><label for="message">Your Message</label></dt>
<dd>[textarea* message x3]</dd>
</dl>

<div>[submit "Send"]</div>