*,  *:before,  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body{
  text-align: center;
  font-family: 'Ubuntu',Verdana, sans-serif;
  background-color: #E2E2DC;
  font-size: 18px;
  color: $grey-dark;
}

html { margin: 0!important; }

.page-content {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f0f0ec;
  border-bottom: solid 44px #E2E2DC;
 
 &.home{
  max-width: 100%;
  margin: 0;
 }
  
}



// ---- HEADINGS ----

h1, h2, h3, h4, h5 { margin: 0 0 0.5em 0; }


h1 {
  color: $blue;
  font-size: 56px;
  margin-bottom: 0;
  margin-top: 25px;
  line-height: 1em;
  max-width: 700px;
  letter-spacing: -0.02em;

  &#logo{margin-top: 0;}

  @include mq($break-big) {   font-size: 46px;   }
  @include mq($break-hero) {  font-size: 36px; margin-top: 6px;  }
//  @include mq($break-hero) {   font-size: 36px;   }
  //@include mq($break-hero) {   font-size: 36px;   }

  .page-content & { padding: 0px 0 24px 0; }

}
//------------------------

 
.hero.home h2 { font-size: 36px; }

h3 {  font-size: 24px; }
//------------------






.left.main{

  width: 60%;
  padding-right: 40px;

  img{ height: auto; }

  @include mq(700px) {  padding-right: 0; }
}


.right.aside{
   width: 40%;
   text-align: left;

}

#page .container>.left, #page .container>.right {
  @include mq( $break-hero ) {
    width: 100%;
    display: block;
    float: none;
    text-align: left;
  }
}


.table{
  display: table;
  width: 100%; 
  table-layout: fixed;

  .left.main, .right.aside, .cell{
    width: auto;
    display: table-cell;
    float: none; 
    padding: 0; 
    vertical-align:top;
  }

  .left.main { padding-right: 11%; }

}



ul, ol {
 list-style-position: inside;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

p,a {
  color: inherit;
  font-size: inherit;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

a {  text-decoration: none;  }

p, .paragraph, .content {

  a{
      color: $blue; font-weight: bold;
      &:hover {color: lighten($blue, 10%);
  }

      &:active { color: darken($blue, 10%); }
      &:focus { outline: none; }
  }

}


dl,dd,dt { margin: 0; }

img {
  width: auto;
  max-width: 100%;
}



//--------------------------------

#page>.section, #page>section {
  width: 100%;
  text-align: center;
  overflow: visible;
}


.container {

  width: 100%;
  margin: 0 auto;


  //padding-left: $padding-l;
  //padding-right: $padding-l;
  //padding-top:    $padding-sm; 
  //padding-bottom: $padding-sm; 

  padding: $padding-sm $padding-l;
  max-width: $content-width + 2 * $padding-l;
  text-align: left;
  
  @include mq(820px) {
    padding-left:  $padding-md;
    padding-right: $padding-md;
  }


  @include mq( 532px ) {
    padding-left:  $padding-sm;
    padding-right: $padding-sm;
  }

    @include mq( $break-mobile ) {
    padding-left:  $padding-mobile;
    padding-right: $padding-mobile;
  }

  // @extend %cf;

  &:not(.snap-drawer)
  {
    position: relative;
  }

}

#page { min-height: 50vh; }

table {
  @include mq(620px) {
    td,tr { display: block; }
    
  }
}

