
// Colors AAG

$red          : #e54e27;
$blue         : #387B9B;
$green        : #82ba48;


$black        : #1c1c1e;
$white        : #E8E9EA;
$white-grey   : #F7F9F9;

// Grey-scale AAG
$grey         : #9e9fa0;
$grey-light   : #bcbcbc;
$grey-lighter : #E2E2E0;
$grey-dark    : #353B3D;
$grey-darker  : #2A3135;


$azure: rgb(55,190,221);



$text-color   : $black;


//------

// Social

$in-color: #007bb6;
$fb-color: #3a569a;
$tw-color: #00abf0;
$go-color: #df4a32;
$yt-color: #ea3939;


//------------------------

//--- Padding -----

$padding-xl     : 160px;
$padding-ll     : 103px;
$padding-l      : 50px;
$padding-l     : 30px;
$padding-sm     : 20px;
$padding-mobile : 16px;

//-------------------

$content-width: 1040px;

$padding-l: 60px;
$padding-md: 45px;
$padding-sm: 30px;
$padding-mobile: 18px;

$break-big: ( $content-width + ( 2 * $padding-l ) ) - 1;

$break-hero : 666px;
$break-mobile: 400px;

//-----------------------
/* Verdana-based sans serif stack */

