/*
Styles for Internet Explorer 8
*/

@import 'compass';
@import 'base/settings';
@import 'tools/tools';
$break-point: 925px;
$nav-height: 115px;
$nav-height-mobile:  90px;
$navbar-bg : #292b2d;
$page-bg : $white;
$navbar-bg-mobile : #1c1c1e;
$link-color: $white;
$link-current: $green;
$link-current-border: transparent;

img { border: none; }




#nav ul li{
	display:inline;
	overflow: hidden;
}

.snap-drawers {

li {
width: 120px;
display: inline-block;
text-align: center;
overflow: hidden;
}
}


#primary {
	//border: solid 1px green;
	text-align: right;
}


.page-footer{
	position: relative;
}


.hero {
	background-color: #666;
}

#snap-open, #snap-close {
	display: none;
}


.grid-element .grid-img img {
top: 0;
}

.grid-element {
		padding: 20px;
		width: 306px;
		
	}

	.snap-drawer ul {
		height:($nav-height/2);
		margin-top: 30px;
	}
	.snap-drawer a {
		height:      ($nav-height/2);
		line-height: ($nav-height/2);
	}

	.snap-drawer nav {

		float: right;
		position: relative;
		overflow: visible;


		li {	display: inline-block;	}

	}

.search-form {
	input{
		background-color: transparent;
		border-left: none;
		border-top: none;
		border-right: none;
	}
}

//----------------------------

.aircraft-types:after {
	display: none;
}

//------------------------------

.home-switch {
	float: right;
	.container{
		display: block;
		clear: both;

	}
	.left{
		float: left;
	}
	.right {
		padding-left: 0px;
		float: right;
		width: 50%;
		
	}

	&:first-child {
		float: left;
	}
}

.large-middle-section {
//@include background-image(linear-gradient(#002, #003e53));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000022', endColorstr='#003e53', GradientType=0); /* IE6-9 */

}

///--------------------------------------------------
.social {
	//border: solid 1px green;
}
.social li {
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	
	margin: 0 15px 0 0;
	overflow: visible;

	a{
			//display: inline;
			overflow: visible;
			height: 45px;
			line-height: 45px;
		//	border: solid 1px orange;
			img {
				width: 45px;
				height: 45px;
			}
	}
}

///--------------------------------------------------

.hero {
	background-color: white;
}

///------------------------------------------------------


.approvals .left{
	width: 49%;
	display: block;
	float: left;

	@extend %cf;
	clear: none;
	margin-right: 10px;

img {
	display: block;
	float: left;
}
.text {
	display: block;
	float: left;
}

} 

.approvals .container>div{
	@extend %cf;

}

///----------------------------------------------

.author {
	display: block;
	@extend %cf;
	.author-img, .bio {
		display: block;
		margin: 0;
	}
	.author-img{
		
		float: left;
		width: 20%;
		
	}
	.bio {
		float: right;
		width: 78%;
		
	}
}