

.section.middle, .section.bottom{
	text-align: left;

	h3 { font-size: 35px; }
}



.section.video-content{
	.grey-box {
		padding: 50px 8%;
		background-color: $grey-bg;
		border: 1px solid $grey-border;
	 }
}


.section.team {
	background-color: $grey-bg;
	padding: 30px 0;
	h3,h4{ text-align: center; }
	h4 {
		font-size: 28px;
		color: $blue;
		font-weight: 400;
		margin-bottom: 30px;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 30px;
	}
}





/*
* For each service leadin on the services page.
*
*/

// Width in % - for  no gap put: (1/3) * 100% or 33.33333333%

$element_width : 170px;
$element_padding: 0;



//--------------------------------

$margin : floor( ( $content-width - ( 4 * $element_width ) ) / ( 3 ) );




.grid-element {
	position: relative;
	width: $element_width;
	height: auto;
	margin: 0 $margin 34px 0;


	&:first-child{ margin-left: 0; }
	@include inline-block(top);

	@include mq_big(1040px){
	width: 170px;
	margin-right: 99px;
	};



	img {	margin-bottom: 1em; border-radius: 0; width: 100%; height: auto;
		@include mq( 950px ) { margin-bottom: 5px; }
	}

	p{ margin: 0; }

	.name { color: $red;}




	@include mq( ( 2 * $padding-l ) + ( 2 * $element_width) + ( 2 * $margin )) {
		&:nth-child(even) {
			margin-right: 0;
		}
	}

	@include mq( ( 2 * $padding-l ) + ( 2 * $element_width) + $margin ) {
		&:nth-child(odd) {
			margin-right: 9px;
		}

	}

		@include mq( ( 2 * $padding-sm ) + ( 2 * $element_width) + 10px ) {
			width: 48%;
		}

}


#careers-list article {
	 text-align: left;
	h4 { margin-top: 10px; font-size: 26px;}
	.post-date {
	color: $grey;
	margin-bottom: 30px;

	}
	p { font-size:17px; }
	.read-more a { background: none; }
}



.section.wide {
	height: 395px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.section.team-page{
	text-align: left;
	margin-top: 20px;

	h2 { font-size: 34px;}


}

.person{
	width: 23%;
	margin-right: 2%;
	img {
		width: 87%;
	}
		h5{ color: $blue;font-size: 18px; margin-bottom: 5px; }
		h6{ font-size: 16px; font-weight: normal;  margin-top: 0; }

		@include mq(1120px) {
			width: 44%;
			margin-right: 4%;
			img {
				width: 44%;
				margin-right: 4%;
				float: left;
			}

		}
		@include mq(680px) {
			width: 44%;

			img {
				width: 80%;
				float: none;
			}
		}
		@include mq(500px) {
			width: 44%;
			&:nth-child(odd) {
				margin-right: 9%;
			}

			img {
				width: 100%;

			}
		}
	}



	.bottom {
		ul li {
			margin: 12px 0;
		}
		.menu-main-container {
			ul li {
				margin: 0;
			}
		}
		.left {
			width: 65%;
		}
		.right {
			width: 30%;
		}
		@include mq(830px) {
			.left:not(.job-list-item), .right:not(.job-list-item) {
				width: 100%;
				float: none;
			}
			.left {
				margin-bottom: 20px;
			}
			.right a {
				float: left;
			}



		}

			.job-list-item.left {
				width: 50%;
			}
			.job-list-item.right {
				width: 50%;
			}
				@include mq(830px) {
					.job-list-item.left {
						width: 50%;
					}
					.job-list-item.right {
						width: 50%;
					}
		}
		@include mq(690px) {
			.job-list-item.left {
				width: 100%;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid $grey-border;
			}
			.job-list-item.right {
				width: 100%;

			}
}
 	}

	.bottom #main-menu {
		ul li {
			margin: 0 !important;
		}
	}

	.bottom .sub-menu {
		li {
			margin: 0;
		}
	}

	.section.bottom{
		@include mq( 650px ) {
			.left, .right { width: 100%; float: none;  }
			.right { margin-top: 30px;}
		}
	}
