.author {
	
	margin-bottom: $padding-l;

	.author-img {
		
		
		width: 93px;
		height: 93px;

		img {
			border-radius: 100%;
			width: auto; height: auto;
			

		}
	}
	.bio {
		width: auto;
		padding-left: 40px;

    	p{ margin: 0; }
    
    	
		.author-link { display: inline-block;  vertical-align: middle; margin-left: 10px;}
	}

}


.author-short {
	padding-top: 1em;
	h4{
		font-size: 16px;
		margin-top: .5em;
		margin-bottom: 1em;
	}

	h5 {
		font-size: 18px;
		text-transform: uppercase;
		color: $grey-light;
		font-weight: normal;
	}

	.author-img {
		width: 80px;
		height: 80px;
	}

	img{
		width: 100%;
	}


}
.article-author{
	.first-name,.last-name{
		font-weight: bold;
		font-size: 18px;

	}
}
