/*
* * * * Share Links
*/
@mixin share-btn($color)
{
	background-color: $color;
		@include transition(0.2s);

	&:hover {
	background-color: darken($color, 5%);
			@include transition(0.2s);
		}
	a{
		//background-color: darken($color, 10%);
		@include transition(0.2s);
		&:hover {
			//background-color: darken($color, 15%);
			@include transition(0.2s);
		}


	}
}


/*div*/.share {
h4 {
	text-transform: uppercase;
	font-size: 12px;

}
}
//--------------------

$link-height: 50px;
/*ul*/
#share-links{
	list-style-type: none;
	margin: 0 auto;
	padding-left: 0;
li{
	//@include border-radius(5px);
	width: 24%;
	min-width: 120px;
	height: $link-height;
	margin: 0 1.333333333333% 5px 0;
	display: inline-block;
	vertical-align: top;
	padding-left: $link-height * 0.7;
	background-size: auto 60%;
	background-position: 11px center;
	&:after, &:before { content: ''; display: none;}
	&:last-child { margin: 0;}

	@include mq(600px) {
		width: 49%;
		&:nth-child(even) {
			margin-right: 0;
		}
	}

}

a{
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	//@include border-radius(0 5px 5px 0);
	color: white;
	font-weight: bold;
	line-height: $link-height;
	font-weight: normal;
	font-size: 14px;
}

.facebook{
	@include share-btn( $fb-color);
	@include bg-svg('facebook-white','social');
}
 .twitter{
 	@include share-btn( $tw-color);
	@include bg-svg('twitter-white','social');
 }
  .google{
  	@include share-btn( $go-color);
	@include bg-svg('google-plus-white','social');
  }
  .linked{
  	@include share-btn( $in-color);
	@include bg-svg('linkedin-white','social');
  }

}

//-------------------
