/*
*For the meta information in the header of each article.
* Also in the single article page
*/
.article-tags { display: table-row; }

.article-tags .tags {

		ul,li { margin: 0; padding: 0 0 0 0; }

		li {
		
			display: inline;
			list-style-type: none;
			margin-right: 5px;
		}

		a{
			color: $text-color;
			font-size: 14px;
			line-height: 1;
			&:hover { color:  $blue;  }
			&:active { color: darken($blue, 10%);  }
		}

}


.article-meta {

	.title, .tags { 
		display: table-cell;
		text-transform: uppercase; 
		padding: 0px;
	}

	.title { 
		color: $grey-light; 
		font-weight: bold; 
		padding-right: 15px; 
		padding-top: 0px; 
		font-size: 14px; 	
		line-height: 16px;
	}
	


}




.article-meta {
	margin-bottom: 25px;
}
.article-meta time {
	color: $text-color;
	display: block;
	font-size: 16px;
	font-weight: bold;

	text-transform: uppercase;
	text-align: left;
	margin-bottom: 15px;

	span { line-height: 1; }
	.sup {
		font-size: 0.6em;
		line-height: 1.3;
		top: 3px;
		vertical-align: text-top;
	}
}

