.single-article{
	
	figure { 
		max-width: 100%; 
		margin-left: 0; margin-right: 0;
		padding-left: 0; padding-right: 0; 
		border: none; float: none; display: block; 
	}

	.right.aside { width: 34%; }
	
	h1{
		//color: $red;
		font-size: 48px;
		margin-top: 0;
	}

	.left.main{
		.article-tags { font-weight: bold; }
	}
	
	.image, .video, figure, blockquote,ul{ 
		margin-bottom: 40px;
	}
	
	.image {
		@include mq_big($break-big) { margin-left: -$padding-l; }
	}
	//img{ max-width: 614px; }

	 .image-caption{ margin-top: -40px;  } 
	

	.article-author {
		
		@extend .dotted-border;
		padding: 0 0 20px 0;

		.title, .first-name, .last-name{
			display: table-cell;
		}
	}


	.article-date{ padding-right: 30px; }

	.bot{
		padding: 5px 0 0 0;

		.left{ width: auto; }

	} 


	.article-social {
	    background-color: #e7e7e7;
	    margin-bottom: 20px;
	    text-align: center;

			li {
		    display: -moz-inline-stack;
		    display: inline-block;
		    vertical-align: top;
		    zoom: 1;
		    padding: 40px 10px 30px 10px;
		    margin: 0px auto;
		    list-style: none;
			}

	    }

	@include mq( $break-hero ) { 
		.left.main{ padding-right: 0; } 
	}

		@include mq( $break-mobile ) { 
			.container { padding-top: 5px; }
			h1 { font-size: 35px; }

			.author.table{
				display: block; 

				.cell { display: block; width: 100%; text-align: left; }
				.bio { padding: 0; }
			}

			.article-social li { padding-left: 4px;  padding-right: 4px; }

		}
}

.related{
		margin-bottom: 50px;
		top: 20px;

		h2.caps { border-bottom: none; font-size: 16px;  color: $grey; padding-bottom: 0;   }

		article { margin-bottom: 20px; }

}


@include mq_big(901px) {
	.single-article {
		.related {

		
			article {
				padding: 25px; 

				h2 { font-size: 24px; padding-bottom: 7px; }
				.post-thumbnail { width: 70px; }
				.article-meta time { margin-bottom: 0; }
			}
			header { margin-bottom: 0; }
			.btn-wrap, .article-tags { display: none; }
			img { margin-bottom: 0; }
		}
	}
}
@include mq(900px) {
		
	.single-article { 
		.right.aside, .left.main { width: 100%; display: block;   }
		.related { width: auto; }

		img{ max-width: 100%; }
	}

}


.next.blog-list {
	margin-top: 20px;

	h3 { color: $red; font-size: 16px; }
	.btn-wrap{
		@include mq_big( $break-mobile) {
			margin-top: -50px;
		}
		
	}
}

.single-article .left.main{
	&:after{

		display: block;
		content: '';
		padding-bottom: 40px;
		border-bottom: $dotted-border;
		margin-bottom: 40px;
	}

}

.post-content {
	border-bottom: $dotted-border;
	margin-bottom: 40px; 
	padding-bottom: 40px; 
	h2, h3 {color: $red; }
}


#video {
	iframe {
		width: 100%; 
		//height: auto;
		min-height: 258px;
	}
}


.blog-list article.with-intro {
	.article-tags {
		margin-bottom: 0; 
	}
	.btn-wrap.read-more {
		position: relative; 
		bottom: auto; 
	}
}