.blog-list{
	h2 {
		color: $blue;
		font-size: 35px;
		padding-bottom: 1em;
		border-bottom: dotted 2px $grey;

		&:hover { color: $azure; }
		&:active { color: $red; }

		@include mq($break-hero) { font-size: 20px; }
		@include mq($break-mobile) { font-size: 22px; line-height: 1.1; padding-right: 32%; }
	}

	article {
		@extend %cf;
		overflow: hidden;
		position: relative; 
		background-color: white;
		margin: 0 auto 40px auto;
		padding: 48px;

		.left{ width: 69%; @include mq($break-mobile) { width: 100%; } }

		@include mq(925px) { padding: 5%; }
		
		.article-tags {
				@include mq_big($break-mobile) { margin-bottom: 68px;  display: block;  } 
		}
		.btn-wrap.read-more{  
			@include mq_big($break-mobile) { position: absolute; bottom: $padding-md;  }
			@include mq($break-mobile) { width: 100%; .btn{ width: 100%; } } 
			
		}

	}


	.post-thumbnail{
		width : 28%;
		max-width: 260px;
		
			img{
				width : 100%;
				height: auto;
			}
		
		float: right;

		@include mq($break-mobile) {
			position: absolute; 
			top: 0;
			right: 0;
		}

		}
		

	.article-meta {	margin-bottom: 0;}
	header { margin-bottom: 20px; position: relative; }

	




	

}





.section.blog .container { padding-top: 0; }