/*
 * Breadcrumbs
*/
.breadcrumbs {
	background-color: transparent;
	text-transform: uppercase;

	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
}

#breadcrumbs ul,
#breadcrumbs li,
#breadcrumbs a {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	line-height: 45px;
	font-size: 14px;
}

#breadcrumbs li {
	padding: 0;
	font-weight: bold;

	&.current{ color: $grey-light; }
}


#breadcrumbs a {

	padding: 0 25px 0 0;
	position: relative;
	text-decoration: none;
	color: #033140;

	&:hover { text-decoration: underline; }
	&:active{ color: $red; }
	

}

#breadcrumbs a:after {
	position: absolute;
	right: 0;
	top: 0px;
	width: 20px;
	height: 100%;
	content: "";
	@include bg-svg('arrow');
	background-position: center center;
	background-size: auto 16px;

}

@include mq(460px) {
	#breadcrumbs li.current { display: none; }
}
