.btn {
	display: inline-block;
	vertical-align: top;
	background-color: #292b2b;
	color: #f9f9f9;
	text-align: center;
	position: relative;
	padding-right: 35px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 8px solid rgba(0,0,0,0.1);

	&:focus{
		outline: none;
	}

	@include mq($break-mobile) {
		width: 100%;
	}

}

.btn-wrap {
	height: 80px;
	min-height: 50px; 
	overflow: visible;
}


.btn-primary
{

	font-size: 18px;
	padding:    20px 80px;
	background-color: $red;

	&:hover { 
		background-color:lighten($red, 5%);
		border-bottom-width: 5px;
		top: 3px;
		margin-bottom: 1.64286em; 
		}
	&:active{ 
		background-color:  lighten($red, 10%); 
		border-bottom: 0;
    	top: 8px;

	}

}

.btn-secondary
{

	font-size: 16px;
	padding: 15px 26px;
	background-color: $red;

	&:hover {
		background-color:  lighten($red, 10%);
		border-bottom-width: 5px;
		top: 3px;
		margin-bottom: 1.64286em; 
		
	}
	&:active{
		background-color:  darken($red, 5%);
		border-bottom: 0;
    	top: 8px;
	}

	@include mq(small) {
		padding: 15px 5px;
		width: 100%;
	}
}


.btn-tertiary
{
	font-size: 14px;
	padding: 10px 40px;
	color: $grey;
	background-color: $grey-lighter;
	

	&:hover {
		background-color:  lighten($grey-lighter, 2%);
		border-bottom-width: 5px;
		top: 3px;
		margin-bottom: 1.64286em; 
		
	}
	&:active{
		background-color:  darken($grey-lighter, 5%);
		border-bottom: 0;
    	top: 8px;
	}
}


.bg-green {
	background-color: $green;
	color: #fff;
	&:hover{
		background-color:  lighten($green, 5%);
	}
	&:active{
		background-color:  darken($green, 5%);
	}
}

.bg-navy {
	 background-color: $grey-dark;
	 color: #fff;
	&:hover{
			background-color:  $grey;
		}
	&:active{
		background-color:  darken($grey, 5%);
	}
}
.bg-blue {
	background-color: $blue;
	color: #fff;
	&:hover{
			background-color:  lighten($blue, 5%);
	}
	&:active{
		background-color:  darken($blue, 5%);
	}
}
.bg-red{
	background-color: $red;
	color: $white;
	//padding: 20px 5px;
	&:hover{
			background-color:  lighten($red, 5%);
		}
	&:active{
		background-color:  darken($red, 5%);
	}
}

.bg-grey {
	background-color: $grey-dark;
	color: $white;

	&:hover {
		background-color:  $grey;
		color:  $white;
		background-position : 0 -55px;
	}
	 &:active{
		 background-color:  darken($grey, 5%);
	 }

	}
