.careers-page{
	.news-feed {
		margin-bottom: 65px; 
	}

	h2{
		font-size: 34px; 
		text-align: left; 
		margin-bottom: 1em; 
	}
	


	.middle{
		background-color: $grey-bg;
		h3 { font-size: 28px;  margin-bottom: 1em; }
	}

	.bottom {
		h3 { font-size: 28px;  margin-bottom: 1em; }
		li {  margin-bottom: 1em; }
	}
}


.single-career{
	.content{
		text-align: left; 

		.container{ padding-top:0; 	}
	}


	.apply{
		form {
			max-width: 395px; 
			input, textarea { 
				border: none; 
				@include placeholder() { color: $grey-light; }
			}
		}
	}
	
}