.cs-categories{
	text-align: left;
	text-transform: uppercase;


	.container {
		padding: 48px 60px 0 60px;
		//border-bottom: solid 1px $grey-border;
		hr{ margin: 24px auto 0 auto; }

		@include mq(820px) { padding: 30px 45px 0px 45px; }
		@include mq(532px) { padding: 30px 30px 0px 30px; }
 		@include mq(400px) { padding: 30px 18px 0px 18px; }
	}



	h3{
		width: 20%;
		font-size: 16px;
		color: $grey;
	}

	nav {
	 text-align: right;
	 width: 79%;
	}

	h3,nav {
		@include inline-block(top);
		@include mq(700px) {
			display: block;
			width: 100%;
			text-align: left;
		}
	}

	#cs-buttons {
		a {
			margin: 0 0 20px 20px;
			font-weight: bold;
			@include inline-block(middle);
			@include mq(700px) { margin: 0 20px 20px 0; }

			&.current{
				padding-left:  40px;
				padding-right: 40px;
				@include box-shadow(0px 1px 3px rgba(0,0,0,0.3)); // multiple: comma-delimited
			}
			&.disabled:hover { @include my_gradient(bottom, #F6F6F6, #EDEDED); }
			&.disabled { background: none; background-color: white; }
		}
	}

}


.cs-list .section.service.cs article {
	h2 { margin-bottom: 0; color: $navy; font-size: 24px; }

.article-meta {
	text-transform: uppercase;
	color: $grey;
	font-size: 15px;
	margin-bottom: 16px;

}

}


.section.single-study {
	&>.container {
		padding-top: 0;
	}


}


.post-content {
		h2 { font-size: 30px; }

		h3 { font-size: 20px; }

		
	}

.call-us{
	font-weight: bold;


		a.telephone{
		color: $green;
		font-weight: 900;
		font-size: 34px;
		background-image: url("../../img/icons/handset-green.svg");
		background-repeat: no-repeat;
		background-size: 30px auto;
		background-position: left center;
		padding-left: 50px;
	}
}

.article-share
{
	h3 {
		text-transform: uppercase;
		color: $grey;
		font-size: 13px;
		font-weight: normal;
		margin: 10px 0;
	}
	margin: 40px auto;
}
