.contact {
	h3 { 
			font-size: 14px;
			color: $grey;
		}

	padding-bottom: 1em;

	.container {
			padding-top: 20px;
			padding-bottom: 20px;

			@include mq(890px) { padding-top: 0; }
		}

	


	.right.aside { padding-left: 100px;	@include mq($break-big) { padding: 0; }}
	

	.telephone, .email, .address { 
		@include inline-block(top); 
		font-weight: bold; 
		padding-left: 40px; 
		margin-bottom: 40px;
		background-position: 0 center;
		background-size: 30px auto;
		overflow: visible; 
	}


	.telephone{
		font-size: 28px; 	
		@include bg-svg('phone-green');
		margin-right: 60px;


	}

		@include mq($break-mobile) { 
		//text-align: center;

		.telephone, .email {
			background-color: $green;
			text-align: center;
			border-bottom: 8px solid rgba(0,0,0,0.1);
			color: white;
			font-size: 28px;
			padding: 10px 48px;
			width: 100%;
			display: block; 
			@include bg-svg('phone-white');
			background-position: 25px center;
			background-size: auto 25px;

		}
	}

	.email{
		font-size: 26px; 
		@include bg-svg('envelope-blue');

		@include mq($break-mobile) { 
			@include bg-svg('envelope-white');
			background-color: $blue;
			background-size: auto 16px;
			font-size: 24px;
		}
	}

	.address{
		font-size: 18px;
		@include bg-svg('location-pin');
		background-position: 0 0;
		@include mq($break-hero) { margin-right: 60px; }

	}
	
	@include mq($break-mobile) { .telephone, .address { margin-right: 0; } }


	.address span { display: block; }


	.right.aside .social{
		@include mq_big($break-big) { li{ margin-right: 5%; } }
		a{ background-color:$grey-dark; }
	}

}



.location {
	clear: both;
	display: block;
	width: 100%;
	padding-bottom: 50px;

	h4{
		font-size: 20px;
	}

	.google-map{
		height: 400px; 
		overflow: hidden;
		border: solid 1px $grey;

			img{
				width: auto; height: auto;
				margin-top: -115px; margin-bottom: 115px;
		}

		@include mq(900px) { height: auto; img { margin: auto; } a{ display: block; } }
	}

}