/*
* For each service leadin on the services page.
*
*/

// Width in % - for  no gap put: (1/3) * 100% or 33.33333333%

$element_width : 200px;
$element_padding: 28px;



//--------------------------------

$margin : floor( ( $content-width - ( 4 * $element_width ) ) / ( 3 ) );





.the-grid .grid-list {	margin-bottom:  $padding-l * 3; }



.grid-element {
	position: relative;
	width: $element_width;
	height: auto;
	margin: 0 $margin 34px 0;
	

	&:first-child{ margin-left: 0; }
	@include inline-block(top);
	
	@include mq_big(1040px){
	width: 200px;
	margin-right: 80px;
	};

	&:nth-child(4)
	{
		margin-right: 0;
	}

	img {	margin-bottom: 1em; border-radius: 0; width: auto; height: auto; 
		@include mq( 950px ) { margin-bottom: 5px; } 
	}

	p{ margin: 0; }

	.name { color: $red;}

	@include mq( $break-big ) {
			&:nth-child(4) { margin-right: $margin; }
	}

	@include mq( ( 2 * $padding-l ) + ( 2 * $element_width) + ( 2 * $margin )) {
		&:nth-child(even) {
			margin-right: 0; 
		}
	}
	
	@include mq( ( 2 * $padding-l ) + ( 2 * $element_width) + $margin ) {
		&:nth-child(odd) {
			margin-right: 9px; 
		}

	}

		@include mq( ( 2 * $padding-sm ) + ( 2 * $element_width) + 10px ) {
			width: 48%;
		}

}