.event-box {

	background-color: #F4F4F4;
	color: #82BA48;
	font-family: Verdana,sans-serif;
	margin-top: 50px;
	padding: 20px 20px 0px 20px;
	margin-bottom: 30px;



	ul{ list-style-type: none; }


	.event-row {
		@include flexContainer();
		margin-bottom: 20px;
	}

	h5 {
		@include flexBox(2);
		text-transform: uppercase;
		font-size: 16px;
	}

	.event-text {
		@include flexBox(4);
		p {
			margin: 0;
			font-size: 16px;
		}
		a{ color: $blue; font-size: 16px; }
	}

	//p a { display: block; color: $blue;  }
}


