.section.expertise{
	.right.aside { padding-top: 0;}
	margin-bottom: 20px;

	p{
		max-width: 565px;
		line-height: 1.4;
	}
	
	h3{
		color: $red;
		font-size: 26px;

		@include mq($break-mobile) { font-size: 22px; color: $blue; } 
	}
	
	.right{
		text-align: left;
		width: 32%;

		@include mq($break-hero) { margin-bottom: $padding-sm; }
		@include mq($break-mobile) { margin-bottom: 5px; }
	}

	.left{
		width: 65%;
		@include mq($break-hero) { margin-bottom: $padding-sm; }
		@include mq($break-mobile) { margin-bottom: 5px; }
	}
	&.single {
		@include mq_big($break-hero) { padding-top: 40px; }
	}
	 &.single>.container:after { 
		border-top: solid 1px $grey-lighter; 
		content: ''; display: block; width: 100%; 
		position: relative; bottom: -$padding-md;
		//position: absolute; top: 0; left: 0; 
	}


	@include mq($break-hero) { margin:0; }
}

.dual.section{
.container{ &:before { 
	border-top: $dotted-border;
	content: ''; display: block; width: 100%; 
	position: relative; top: -$padding-md;
	//position: absolute; top: 0; left: 0; 
	}}

.left p{ font-weight: bold; font-size: 32px;  color: $grey-dark; max-width: 400px;}
.right{ text-align: left; font-size: 20px; }
}

/*ul*/.perks {
	font-weight: bold;

	padding-left: 20px; 
	li{ list-style-position: outside; margin-bottom: 10px; }
}


.read-next{
	.left, .right{
		float: none; 
		@include inline-block(middle);
	}
	h2{
		font-size: 38px;
		color: $grey-dark;
		@include mq($break-hero) {   font-size: 34px; }
		@include mq($break-mobile) { font-size: 30px; }
	}

	.right a.blue {
		color: $azure;
		
		@include bg-svg('arrow');
		background-position: right center;
		background-size: 15px auto;
		padding: 20px 30px 20px 0;
		font-size: 22px;
		display: block;

	}
}