//added by gavin------------

footer.page-footer {
	background-color: $grey-dark;
	font-size: 20px;
	


	.container {
	padding-top: 22px;
	padding-bottom: 15px;
	background-color: $grey-dark;
	color: $white;

	}

}
//-------------------------


.footer-cta{

	border-bottom: dotted 2px $grey;
	padding-bottom: 40px;
	margin-bottom: 20px;

	h4{
		font-size: 42px;

	}

	.left, .right { 
		border: none; 

		@include mq(690px) {
			width: 100%;
			float: none;
			display: block;
			text-align: left; 

			.footer-tele { margin-bottom: 20px; }
		}

	}
}


.footer-tele{
	margin-bottom: 40px;


	a.telephone{

	color: $red;
	font-size: 44px;
	font-weight: bold;

	@include bg-svg('phone-footer');
	padding-left: 48px;
	background-size: 38px 38px;
	background-position: 0 center;

	}

	@include mq($break-mobile) { 
		text-align: center;

		a.telephone {
			background-color: $green;
			border-bottom: 8px solid rgba(0,0,0,0.1);
			color: white;
			font-size: 28px;
			padding: 10px 48px;
			width: 100%;
			display: block; 
			@include bg-svg('phone-white');
			background-position: 25px center;
			background-size: auto 25px;

		}
	}
}

.footer-email { 
	display: block;

	@include mq($break-mobile) { 
		text-align: center;

		a{ color: #6EBFE0; font-weight: bold;  }
		a:hover { color: $blue; }
		a:active { color: $red; }
	}
}

//-------------MID -------------------


footer.page-footer .mid{
	
	margin-bottom: $padding-md;
	position: relative;
	
	&>div{
		margin-bottom: 20px;

		@include mq_big(530px) {
			@include inline-block(top);
			margin-right: 20px;

			&:first-child { margin-right: 40px; }
		}
	}
	

	






.footer-logo{
		width: 100%;
		max-width: 240px; 

		img{ height: auto;}
		
		@include mq(990px) {
			display: block;
			width: 100%;
		}
		
	}



.footer-address{
	
	
		text-align: left;
		text-transform: uppercase;
		address { font-style: normal; }
		font-size: 18px;
		line-height: 1.0512458;
		font-weight: bold;
	
		@include mq_big(1100px) { margin-left: 15%; }
		span { display: block; }
		

		.addressLocality, .postalCode{
			display: inline;
		}
	}

.footer-iia {
	
		a{
			display: block;
			overflow: hidden;
		}
	}


.footer-social {
		width: 100%; 
		max-width: 275px;

		@include mq_big(990px) { float: right; margin-right: 0; }

		@include mq($break-mobile) { max-width: 100%; }

	}





.footer-address, .footer-iia, .footer-social {
	@include mq(990px) { margin-right: 5%; }
	@include mq (600px) { display: block; width: 100%; }
}
}
.social-title{ text-align: left; font-size: 18px; margin-bottom: 10px;}



//---------------
	.legal {
		color: $grey;
		font-size: 14px;

	}

.legal-links {
		padding-bottom: 5px;
	ul { text-align: left; overflow: visible;  }

	li {
		
		color: $grey;
		display: inline-block;
		margin-left: 0px;
		padding-right: 10px;
		line-height: 1;

		&:first-child { padding-left: 0; }
		
		@include mq($break-mobile) {
			display: block; 
		}
	}

	a { 
		text-decoration: underline;
		font-size: 14px;

		&:active { color: #f6f7f8;}
		&:hover { color: white; }
	}

	
}



.back-to-top{
	text-align: center;
	border-top: dotted 1px #9e9fa0;
	margin-top: 20px;
	padding: 0 0; 

	@include mq_big(700px) { display: none; }
	a{
		margin: 10px auto;
		font-size: 12px;
		text-transform: uppercase;
		color: $grey; 
		&:hover { color: #FFF; }
	}
}
