.full-width {
	.container { padding-top: 0; }
	table, td,th{ border: solid 1px $grey-lighter; }

	table { margin-bottom: 1.5em; }
	ul { 
		list-style-position: outside; 
		padding-left: 20px; 
		line-height: 1.5;
	}
	li { margin-bottom: 1.5em; }

	th { padding: 0 1.5em;}
	td{
		padding: 1.5em; 

		a { color: $blue; }
		a:hover { color: $red; }
	}

	@include mq(970px) {
		table { border: none; }
		 td{
		  @include inline-block(top);
		  width: 48%;
		  padding: 5px 10px;
		  border: none; 
		}

		tr { border-bottom: $dotted-border; }

		th{ display: none; }
	}

		@include mq(620px) {
			td { display: block; width: 100%; }

		}
}

.middle.section {
	.right { padding-top: 28px; }
}