/*
*Hero section
*/



.hero-home{
  background-color: $grey-darker;
  color: $white;
  padding: 0 0 30px 0;

	.left{
		padding: 30px 0;
		width: 55%;
		@include mq($break-hero) {
			padding-top: 0;
		}

		}

	.right{
		padding: 20px 0;
		width: 45%;
		overflow: visible;
		position: relative;

		img {
			margin-right: -125px;
			max-width: 120%;
			width: 120%;

			@include mq(1310px) {
				margin-right: 0;
				max-width: 100%;
				width: 100%; 
				
			}

			@include mq($break-hero) {
				position: relative;
				@include translateY(0);
				left: auto; top: auto;  
			}

			@include mq( 470px ) { height: auto; }
		}
	}

	h2 {
		color: $white;
		font-size: 70px;
		font-weight: bold;
		margin: 0 0 10px 0;
		padding: 0;
		line-height: 1.1;
		
		@include mq($break-big) { font-size: 54px; }
		@include mq(950px) { font-size: 5vw; }
		@include mq(760px) { font-size: 38px; }
		
	}

	

	.hero-text {
		margin: 0 0 40px 0;
		max-width: 540px;
		p{
			font-size: 20px;
			line-height: 1.4;
			letter-spacing: 0.6px;

		}
	}



}

.hero-home {
	@include mq_between($break-hero, 1309px) {
		
		.container {
			display: table;

			.left, .right { display: table-cell; height: 100%; float: none;  }
			.right { padding: 0; }
			.right img {
				height: auto;
				position: absolute;
				top: 50%;
				left: 0;
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				//border: solid 1px red; 
			}
		}

	}
}
.clients{

	&.container{ padding-bottom: 0; padding-top: 0; text-align: left;}
	img{
		height: auto; 
		max-height: 55px;
		max-width: 733px;
		width: 100%;
		display: inline-block; 
	}
}
//=============  HERO  =======================


.hero{
	
	.container{ padding-top: 0; padding-bottom: 0; }

	p {
		max-width:700px;
		font-size: 22px;
	}

	.text {
		margin-bottom: 50px;
		@include mq($break-hero)  { margin-bottom: 0; }

	}
	@include mq(980px) {

		.left, .right {
			width: 100%;
			float: none;
			display: block;
		}

		.right img {
			margin-top: 0;
		}

		.right {
			text-align: left;
		}

	}

	img { 
		height: auto; 
		@include mq(666px) {
			margin-left: -10%;
			margin-right: -10%;
			width: 120%;
			max-width: 1000%;
		}

	}
}
