.dual-section{

  h3{ font-size: 33px; }

  .right { font-size: 20px; text-align: left; }
  .left { padding-right: 10%; }
}


.services.section{
		h3 {
			@extend .red;
			font-size: 18px;
			text-transform: uppercase;
		}

}

.services-list{
	background-color: white;
	padding: 30px;

	-webkit-column-count:   2;
     -moz-column-count:   2;
          column-count:   2;
	
	list-style-type: none;

@include mq( 920px ) {
  -webkit-column-count:   1;
     -moz-column-count:   1;
          column-count:   1;
}

	li {
		padding-left: 60px;
		@include bg-svg('arrow');
		background-position: left 2px;
		background-size: 42px 42px; 
    
    &:nth-child(1) { @include bg-svg('seo-icon'); }
    &:nth-child(2) { @include bg-svg('digital-marketing-icon'); }
    &:nth-child(3) { @include bg-svg('creative-icon'); }
    &:nth-child(4) { @include bg-svg('development-icon'); }
    &:nth-child(5) { @include bg-svg('mobile-apps-icon'); }
    &:nth-child(6) { @include bg-svg('reporting-icon'); }

    &.seo { @include bg-svg('seo-icon'); }
    &.digital-marketing { @include bg-svg('digital-marketing-icon'); }
    &.creative { @include bg-svg('creative-icon'); }
    &.development { @include bg-svg('development-icon'); }
    &.mobile-aps { @include bg-svg('mobile-apps-icon'); }
    &.bespoke-reporting { @include bg-svg('reporting-icon'); }
  

  @include mq_big(921px) { margin-bottom: 27px;}

  @include mq( 920px ) { margin-bottom: 35px; } 

		h5{
			font-size: 18px;
			margin-bottom: 3px;
			margin-top: 0;
			line-height: 1;
		}

		p{
			text-transform: uppercase;
			color: $grey;
      font-weight: bold;
      font-size: 14px;
      margin: 0; 
		}
	}

}

.award-section { background-color: white; }

	ul.awards{
	     -webkit-column-count: 4;
     	  	-moz-column-count: 4;
          		 column-count: 4;

  
          list-style-type: none;
		      font-size: 16px;
          
          li {
          	text-align: center;

          	img{
          		margin: 0 auto 15px auto;
              height: 50px; 
          	}

          	p{
          		margin: 2px auto;
              line-height: 1; 
          	}
          	.company { font-weight: bold;	}
             .name { font-weight: normal; }

          @include mq(920px) { margin-bottom: $padding-sm; }

          }

          @include mq(920px) {
             -webkit-column-count: 2;
                -moz-column-count: 2;
                     column-count: 2;
          }


          @include mq(600px) {
             -webkit-column-count: 1;
                -moz-column-count: 1;
                     column-count: 1;
                  
                  li{
                     
                     text-align: left;
                     display: block;
                     margin-bottom: 25px; 
                     overflow: visible; 
                     &:after { clear: both; display: table; content: ''; }
                     .image {width: 120px; height: auto; float: left; margin-right: 4%; margin-bottom: 25px; text-align: right;  }
                    // img{max-height: 38px; }
                     p{ line-height: 1; }
                     .description { float: left; font-size: 14px;  }
                    
                  }
                     


          }
	}


 $box_padding: 66px;

.the-list{
  display: table; 
  table-layout: fixed;
  &>div {  display: table-cell; }




  .li-divider {
    position: relative;
    height: 100%;
    width: 12.5%; 
    &:after { 
      border-right: dotted 2px $grey; 
      content: ''; 
      height: 100%; 
      display: block; 
      position: absolute; top: 0; right: 50%; 
    }
  }
  .box{
  
    padding: 0;
    width: 25%;
   
    @include mq( $break-hero ) {  
      display: block;
      width: 100%;
      margin-bottom: $padding-sm;
    }


    .li-head{
      img {
        margin-bottom: 10px;
      }
    }
 
    h3{
        font-size: 24px;
        min-width: ( $content-width - ($box_padding * 4) - 4 ) / 3;

        @include mq( $break-big ) {
          min-width: 100px;
        }
    }

    h4{
        font-size: 16px;
        color: $grey;
        text-transform: uppercase;
    }


  }

    @include mq(654px) {
      display: block;

      .li-divider, .box { display: block; width: 100%; margin: 0; p{ margin: 0; } }

       .li-divider { 
          height: 80px; 
             &:after { 
               border-bottom: dotted 2px $grey; 
               border-right: none;
               right: 0;
               top: 50%; 
               height: auto;
               width: 100%;
               
             }
       }

       .box:last-child{ border-bottom: $dotted-border; padding-bottom: 40px; }
      
  }


}

.list-section{
  h2{
    font-size: 40px;
    margin-bottom: 1em;

     @include mq( $break-hero ) {
      font-size: 34px; color: $red; 
     }

  }
}

.cta-btn { height: 70px;}

.cta-section {
  background-color: $grey-dark;
  color: #fff;

  h3 { font-size: 42px; }

  .left, .right {
    float: none; 
   
    @include inline-block(middle);
  }

  .left{ width: 49%; }
}

.gallery-home {
        @include mq($break-big) {
            img { height: auto; }
            .pan-crop{ width: 73%;   } 
            .port-crop{ width: 27%;   } 
        }
    

     @include mq(600px) { .container { padding-left: 0; padding-right: 0; }  }
     @include mq($break-mobile) {  .pan-crop, .port-crop{width: 100%; display: block; float: none; }}
}