/*
* * * * Pagination
*/

$pagi-height : 50px;

.pagination{
		font-family: "Courier New", monospace;
		margin: 10px 0 20px 20px;
		font-size: 18px;

	.nr, .navi {

		display: inline-block;
		vertical-align: middle;
		height: $pagi-height;
		line-height: $pagi-height;
		text-align: center;
		margin-right: 3px;
		position: relative;
	}

	.nr {
		color: #bcbcbc;
		font-weight: bold;
		width:  $pagi-height;
		background-color: #e0e0e0;
		//border-bottom: solid 2px $grey-light;
		margin-right: 2%;

		&.disabled { color: $text-color; }

		// &:hover { }
		// &.active { }

	}



	a{
		display: block;
		width: inherit;
		height: inherit;
		line-height: inherit;
		color: $grey;
		&:hover { color: darken($grey, 25%);}
		&:active { color: darken($grey, 50%);}
	}

	.navi {
		width:  42px;

		background-position: center;
		background-size: 45% auto;
		&.navi-right.active {
			@include bg-svg('pag-right');
			opacity: 0.5;
			&:hover { @include bg-svg('pag-right'); opacity: 0.8; }
			&:hover { @include bg-svg('pag-right'); opacity: 1; }
		}

		&.navi-right.disabled {
			@include bg-svg('pag-right-disabled');

		}



		&.navi-left.active {
			@include bg-svg('pag-left');
				opacity: 0.5;
			&:hover { @include bg-svg('pag-left'); opacity: 0.8; }
			&:active { @include bg-svg('pag-left'); opacity: 1; }
		}

		&.navi-left.disabled {
			@include bg-svg('pag-left-disabled');

		}

	}











span.navi-left {
	@include bg-svg('pagin-left-disabled');
	width: 42px;
	height: 20px;
	line-height: 20px;
	a{
		width: inherit;
		height: inherit;
		line-height: inherit;
		@include bg-svg('pagin-left-default');
	}
}

span.navi-right {
	@include bg-svg('pagin-right-disabled');
	width: 42px;
	height: 20px;
	line-height: 20px;

	a{
		width: inherit;
		height: inherit;
		line-height: inherit;
		@include bg-svg('pagin-right-default');
	}
}



}


/*
<nav class="pagination">

<span class="navi navi-left"></span>

<span class="nr">1 </span>

<a class="nr" href="http://blogtaxhug.cc:8000/blog/page/2/">2</a>

<span class="navi navi-right"><a href="http://blogtaxhug.cc:8000/blog/page/2/"></a></span>

</nav>
*/
