.projects>.container { padding-top: 0; }

.the-project{
	background-color: #fff;
	padding: 30px;
	margin-bottom: 40px;
	overflow: hidden; 

	@include mq($break-hero) { padding: 15px; }
	&>img{
		margin-bottom: 30px;
		height: auto; 
		
		@include mq(666px) {
			margin-left: -30px;
			margin-right: -30px;
			width: 120%;
			max-width: 1000%;
		}
		
	}

	h2{
		font-size: 16px;
		color: $grey-dark;
	}

	h3{
		font-size: 38px;
		color: $grey-dark;
		max-width: 765px;
		@include mq($break-hero) { font-size: 30px; }
		@include mq($break-mobile) { font-size: 26px; }
	}

	.tags { 

		max-width: 400px;

		li{
			display: inline; 
			text-transform: uppercase;
			padding-right: 4px;
			line-height: 1;
			font-size: 14px; 
			vertical-align: top;

			&.title{
				margin-right: 5px; 
				color: $grey; 
				float: left;
				margin-bottom: 24px;
			}

			span { vertical-align: top; }
		} 
	}

	.foot { 
		font-weight: bold;
		min-height: 75px;

		.left { width: 70%; }
		.right { width: 30%; min-width: 170px; }

		@include mq(722px) { .left { width: 60%; } }
		@include mq(600px) { .tags li.title { margin-bottom: 5px; } }

		@include mq(580px) { .left, .right { width: 100%; display: block; float: none; text-align: left;  } .left { margin-bottom: 10px; }} 
	}
}

.wedid { width: auto; }


.section.middle h3 { color: $blue; }
