/*
*  Quotes: 
*     - aside
*     - big white
*/




// -- Quote Aside ---------------
.quote.aside{
  border-top: $dotted-border;
  max-width: 385px;
  padding-top: 50px;

  @include inline-block(top);
  .top{
    position: relative;
    font-size: 24px;
    font-style: italic;
    color: $grey-dark;
     
  }  

  .person-text, .person-image { float: right; }

  .person-text {
      width: auto;
      text-align: right;
      font-size: 16px;
        }

    .name { font-weight: bold; }

}

.person-image { 
  width: 85px; 
  margin-left:20px;

  img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
   @include border-radius(100%);
  }
}

.person-meta{
  div,span{ display: inline; }
}








//------------------------------------------------------

blockquote.twitter-tweet { opacity: 0; }

.post-content blockquote:not(.twitter-tweet) {
  color: $red;
  line-height: 2;
  font-size: 28px; 
  padding-left: 0; padding-right: 0;
  margin-left: 0; margin-right: 0; 
  position: relative; 

  &:before {
    content: '';
    position: absolute;
    top:0;
    left: -60px;  

    @include bg-svg('quotationmark-small');
    background-size: 50px 50px;
    width: 50px;
    height: 50px; 
    display: block; 
  }

  @include mq(1200px) {
    left:40px;
  }

  @include mq(800px) { 
    font-size: 22px; 
     left: 10%;
    width: 90%; 
  }

    @include mq(450px) { 
    font-size: 18px; 

    padding-right: 12px;
      &:before {
        width: 30px; height: 30px;
        background-size: 30px 30px;
        left: -30px; 
      }
  }
}


// -- Quote Big ---------------

.quote.big {
  background-color: white;
  color: #595959;



  .wrap{
      @include bg-svg('quotationmark-home');
      background-position: right top;
      background-size: 15% auto;
      padding-right: 24%;

        @include mq($break-mobile) { 
          padding-right: 0;
          padding-top: 70px;
          background-size: auto 60px;
        
        }
  }

  .bottom {
  text-align: right;
      img, .person {
        text-align: right;  vertical-align: middle;
          display: inline-block;
      }

      img{
        height: 70px;

         @include mq($break-hero) { height: 57px; }
          @include mq($break-mobile) { height: 44px; } 
      }



  }
  .image {
    margin-left: 3%;
  }
  .person{

    font-size: 20px;
    color : #5B5B5B;
    @include mq($break-mobile) {  font-size: 16px; } 
    .name {
      //font-size: 20px;
      font-weight: bold;
    }

    span[itemprop=jobtitle]{
      font-style: italic;
    }
  }

  .the-quote {
    font-size: 28px;
    font-style: italic;
    line-height: 1.5;

    p{
      margin-top: 0;
    }
  }
}