// Services List
.section.service{

	.container {
		padding-top:    65px;
		padding-bottom: 65px;
	}
	&:nth-child(even) {
		background-color:  $grey-bg;
		border-top:    solid 2px #E3E9EC;
		border-bottom: solid 2px #E3E9EC;

	}

	&.switch:nth-child(even) {
		.left { float: right;}
		.right { float: left; }
	}
	h2 {
		color: $blue;
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 12px;
	}
	h3 {
		font-size: 22px;
		font-weight: 600;
	}
	.left{
		text-align: left;
		width: 46%;
		@include mq(670px) {
			width: 100%;
			margin-top: 200px;
		}
	}
	.right{
		width: 46%;
		max-width: 445px;
		img{
			@include border-radius(3px);
			height: auto;
		}
		@include mq(670px) {
			position: absolute;
			width: 100%;
			max-width: 300px;
		}
	}

}


.read-more { text-align: right; }
	.read-more a {
		text-transform: uppercase;
		color: $blue-light;
		font-weight: bold;
		font-size: 16px;
		padding: 10px 35px 10px 0;
		@include bg-svg('narrow-right-normal');
		background-position: right center;
		background-size: 27px;

		&:hover { color: lighten($blue-light, 10%);}
		&:active { color: darken($blue-light, 5%);}
	}

	#search {
		max-width: 400px;
		@include mq(930px) {
			float: left;
			width: 100%;
			max-width: 520px;
		}
		.search-form{
			width: 100%;
			margin-bottom: 48px;
		}
		input[type="search"] {
			background-color: white;
			height: 37px;
			width: 83%;
			border-top: 2px solid #d1d1d1;
			border-left: 2px solid #d1d1d1;
			border-right: 2px solid #d1d1d1;
			border-bottom: 2px solid #d1d1d1;
			padding-left: 15px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			&:focus {
				outline: none;
				background-color: #f6f7f7;
			}

		}

		input[type="submit"] {
			background: $blue;
			border: none;
			width: 17%;
			height: 37px;
			border-radius: 0;
			float: right;
			position: relative;
			background-image: url("../img/icons/magnifier.svg");
    	background-size: 21px;
    	background-repeat: no-repeat;
    	background-position: center center;
			&:hover {
				background-color: lighten($blue, 5%);
			}
			&:active {
				background-color: darken($blue, 2%);
			}

		}

	}


.single-service .container { padding-top: 50px; }


.single-service, .single-study{

	.sidebar{

	h2 {
		font-size: 13px;
		font-weight: normal;
		color: #849199;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	article{
		border-bottom: solid 1px $grey-border;
		padding-bottom: 8px;
	}
}

}


.post-content blockquote{
		margin-left: 0;
		margin-right: 0;
		padding: 40px;
	    color: white;
    	background-color: $blue;


		 p {

		    font-size: 28px;
		    line-height: 1.2;
		    font-weight: 300;
		    font-style: italic;
		    margin-bottom: 10px;
		}

		span {font-size: 16px; }

		.quote-author, .quote-company {
			width: 100%; text-align: right;
			display: block;
			font-style: normal;
		}

		 .quote-author {
		 	font-weight: bold;
		}
}

.news-feed.single-service {
	h3 {
		color: #9aa1a5;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 30px;

	}
	article {
		h3 {
			color: $navy;
			font-size: 24px;
			font-weight: 900;
			text-transform: none;
			margin-bottom: 10px;
		}
	}
	.post-meta {
	  color: #849199;
	}

}
.related.services, .related {
	@extend %cf;
}
