/*
 * Social
*/
.social a, .social a:visited {	margin-left: 10px; }

.social {
	margin-top: 0px;
	width: 100%;

	ul {
		line-height: 1;
		list-style: none;
		margin: 0;
		padding: 0;

	}

	li {
		@include grid_element(4, 16.5%);
		padding:0;
		
		&:hover{ opacity: .8; }
		
	}


	 a {
		background-color: $white;
		display: block;
		height: 45px;
		width:45px;
		margin: 0;
	}

	&.invert a { background-color: $grey-dark; }

	h3{
		text-transform: uppercase;
		font-weight: normal;
		color: $grey-light;
		font-size: 16px;

	}
	&.invert h3 { color: $grey; font-size: 14px; font-weight: bold;  }
}
// .right.aside .social a{ background-color: #edf1f2;  }
