
.overlay-set {
	position: relative;
	text-align: left;

	overflow: hidden;
	.overlay{
		position: absolute;
		top:0; left:0;
		background-color: rgba($navy, 0.9);
		@include border-radius(6px);
		img { margin: 0!important; }
	}
	img{
		@include border-radius(6px);
		margin: 0!important;
	}
}


#page .section.solution{

	&:nth-child(odd)
	{
		background-color: $grey-bg;
		border-top:    solid 2px #E3E9EC;
		border-bottom: solid 2px #E3E9EC;
		@include mq(780px) {
			background-color: white;
			border-top:    none;
			border-bottom: none;
		}
	}


	.container {

		.left, .right{ text-align: left; width: 46%;}

		.left {
			@include mq(780px) {
				width: 100%;
				padding-bottom: 30px;
				margin-bottom: 30px;
				border-bottom: 1px solid $grey-border;
			}
		}
		.right {
			@include mq(780px) {
				width: 100%;
				padding-bottom: 30px;
				margin-bottom: 30px;
				border-bottom: 1px solid $grey-border;
			}
		}
		h2{
			color: $blue;
			font-size: 20px;
		}

		p{font-size: 24px; font-style: italic; margin-top: 1em; }
		@include mq(780px) {
			padding-top: 0;
			padding-bottom: 0;

		}
	}

}

#hero.solutions {
	@include mq(780px) {
		margin-bottom: 30px;
	}
}



.single-solution.middle {
	padding-top: 30px;

.container {
	padding-bottom: 0;
}


	h2 {
		font-size: 38px;
		margin-bottom: 30px;
	}

	.parts{

		.part{
			width: 33%;
			position: relative;
			@include inline-block(top);
			padding-right: 8%;

			h3 { font-size: 22px; color: $blue; }

			@include mq(1040px) {
				width: 31%;
				padding-right: 3%;
			}
			@include mq(800px) {
				width: 80%;
				padding-right: 0;
			}
			@include mq(510px) {
				width: 100%;

			}
		}
	}
}



.single-solution.wide-images {
 margin-bottom: 30px;
 padding-bottom: 30px;
 position: relative;
 .tele {
	 margin-bottom: 60px;
	 margin-top: 30px;
 }
	h3 { font-size: 16px; color: $grey; text-transform: uppercase; font-weight: normal; }

	&:before {
		content: "";
		width: 200px;
		height: 1px;
		background: $grey-border;
		position: absolute;
		left: 50%;
		margin-left: -100px;
		bottom: 0;
	}
	.left,.right {
		@include mq(580px) {
			width: 100%;
		}
	}

}



.single-solution.bottom {
	@include mq_big(550px) {


	}


	blockquote{
		//padding-left: 28%;
		color: $blue;
		background: none;
		.quote-author, .quote-company {
			color: $navy;
		}
		.quote-author {
			margin-top: 12px;
		}
		@include mq(760px) {
			padding-left: 0;
		}
	}
}

.single-solution.post-content {
	h3 {
		margin-bottom: 20px;
	}
	
	&.full-width {
		ul {
			padding-left: 0;
			@extend %cf;
			li {
				width: 28%;
				float: left;
				padding-left: 20px;
				position: relative;
				margin-top: 0;
				overflow: visible;
				font-size: 16px;
				line-height: 1.5;
				margin-left: 6%;
				margin-bottom: 30px;
				&:nth-child(1), &:nth-child(4){
					margin-left: 0;
				}
				&:before {
					content: '';
					width: 7px;
					height: 7px;
					background: #4C5058;
					border-radius: 100%;
					position: absolute;
					left: 0;
					top: 8px;
				}


			}
			@include mq(760px) {
				li {
					width: 44%;
					&:nth-child(3), &:nth-child(5){
						margin-left: 0;
					}
					&:nth-child(4){
						margin-left: 6%;
					}
				}

			}

			@include mq(555px) {
				li {
					width: 100%;

						margin-left: 0;

					&:nth-child(4){
						margin-left: 0;
					}
				}

			}
		}
	}
}

.solutions-page .feature {
  background-color: white;
  @include mq(780px) {
    background-color: $grey-bg;
		border-top: 1px solid $grey-border;
  }
}


.solutions-article{

		.blog-list>h2 {

			font-size: 13px;
		    font-weight: normal;
		    color: #849199;
		    text-transform: uppercase;
		    margin-bottom: 10px;

		    @include mq(925px)
		    {
		    	padding-left: 5%;
		    	padding-right:  5%;
		    }
		}

	header h2 {
		font-size: 36px;
	}
	.read-more {
		text-align: left;
		a { font-weight: 900; }
		a:hover { color: $navy;  }
	}

	.blog-list article { border-bottom: 0; }
}
