/*
* * * * Video
*/


#video{
position: relative;


.chc-video{
  width: 100%;
  display: block;
  float: none;
  clear: both;
  height: auto;
}

video { 
position: absolute !important;
top: 0px;
left: 0px;
width: 100% !important;
height: 100% !important;
}

.wrap {
    position: relative;
    @extend %cf;
    padding: 0;
    overflow: visible;
    height: auto;
    background-color: white;
}

.mediaplayer {
      position: relative;
  		height: 0px;
  		width: 100%;
		  padding-bottom: 56.25%;
  		max-width: 100%;
  		display: block;
  		font-size: 16px;

      .ws-poster {
          background-color: black;
          background-size: cover;
           }
    } // @end ->.mediaplayer

    
} // #video



#yt_video {
position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
		//min-height: 258px;
	}
}
