$switch_break : 815px;
.work-switch{
  margin-bottom: 20px;
  h3,li{
    font-size: 18px;
    font-weight: normal;
  }
  .left,.right{
  @include mq($switch_break) {
      float: none;
      width: 100%;
      display: block;
      text-align: left;
  }
    }
  &:nth-child(even) {
  .left{
  	float: right;
  	// /width: 240px;
  	@include mq($switch_break) {
  			float: none;
  			width: 100%;
  			display: block;

  		}
  }
  .right{
  	float: left;
  	text-align: left;
  	@include mq($switch_break) {
  			float: none;
  			width: 100%;
  			display: block;

  		}
  }

  }
}
